.Main {
  text-align: center;
}

.Main-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Main-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Main-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Main-link {
  color: #61dafb;
}

body {
  margin: 0; /* Remove default margin to fill the whole body */
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent scrolling when the sidebar is open */
}
#root {
  height: 100%;
  background-color: black;
}

.app-container {
  display: flex;
  height: 100vh; /* Set the height of the app container to the full viewport height */
}

.sidebar {
  width: 300px; /* Set the desired width */
  height: 100%; /* Set the desired height, 100% makes it take the full height */
  background-color: black;
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
